* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Catamaran', sans-serif;
}
html{
scroll-behavior: smooth;
}
.caixa-principal {
height: 100vh;
width:100%;
background-image: url(./img/capa-linguagens.png);
background-size:750px;
background-repeat: no-repeat;
background-position:center center;
background-color: #191919;
}

nav {
display: flex;
align-items: center;
justify-content: space-between; 
padding-left: 30px;
padding-right: 30px;
padding-top:20px ;
}


.portifolio{
color:#ec8ffa;
font-size:75px;
font-weight: 500px;
margin-left: 5%;
animation-duration: 8s;
animation-name:slidein;

}
.portifolio span {
  color: #f6d3fb;
  font-size: 60px;
}
@keyframes slidein{
from{
    margin-left: 70%;
    }
to{
    margin-left: 0%;
  }
}

li {
color:white;
list-style: none;
display:inline-block;
font-size: 25px;
margin-right: 50px;
cursor:pointer;
}

 li:hover{
color:rgb(165, 83, 242);
transition:0.5s;

}
.link-menu{
text-decoration: none;
color:#e7bbfb;
}
.menu-list {
  display: none;
  list-style: none;
  padding: 0;
}

.menu-list.show {
  display:grid;
}

.menu-toggle {
  cursor: pointer;
  font-weight: bold;
  height: 40px;
  display: flex;
  gap: 20px;
  position: sticky;
  
}

section figure .meu-nome{
position: center center;
text-align: center;

}

h1{
color:#c29eeb;
font-size:45px ;
}

.meu-nome h3{
color:#ffffff;
font-size: 25px;
}
.meu-nome h1 {
text-shadow: 2px 2px 4px rgba(234, 79, 228, 0.5);
}
  
.meu-nome h3 {
text-shadow: 1px 1px 2px rgba(123, 119, 119, 0.3);
}
section{
    display:flex;
    align-items: center;
    padding: 60px 15%;
    background-color: #040000;
    justify-content: space-between;
}
section figure img {
height: 250px;
border-radius: 10%;
border: 2px solid #c29eeb;
margin-right:30px;
display: block;
background-position: center center;
margin: 0 auto 10px;
}
section figure h2{
color:#e7bbfb;
font-size:45px ;
position:center;
text-shadow: 2px 2px 4px rgba(234, 79, 228, 0.5);
text-align: center;
}

section figure p{
color: #c29eeb;
font-size: 18px;
margin-top:30px ;
margin-bottom:20px ;
}

.projeto{
background-color: #191919;
padding-top:10px ;
}

.projeto h2{
color:#c19fe7;
font-size:75px ;
text-shadow: 2px 2px 4px rgba(234, 79, 228, 0.5);
text-align: center;
}

.card{
background-color: hsl(293, 65%, 39%);
height:375px;
width:345px ;
border-radius:20px ;   
padding:20px 35px;
text-align: center;
}

.card img{
height: 100px;
}

.card h5{
color: #0a0909;
font-size:25px;
}

.card p{
color:#000000;
margin-top: 25px;
margin-bottom:30px ;
font-size:15px;
}

.card a {
background-color:rgb(232, 151, 243);
color: #0a060c;
font-size:15px ;
padding:05px 20px;
border-radius: 30px;
cursor: pointer;
transition: 0.5s;
}
#txt-pet{
  padding-bottom:23px;

}

.card a:hover{
background-color: black;
color: #f6d3fb;
border:4px solid rgb(201, 160, 202); 
}

.card-projetos{
display: flex;
justify-content: space-around;
margin-top: 100px;
}

footer{
background-color: #191919;
padding-top:100px ;
padding-bottom: 120px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


footer h5  {
color: #c29eeb;
font-size: 25px;
margin-top:14px ;
margin-bottom: 30px;
}

.social{
display: flex;
gap: 20px;
}

.social img {
height: 24px;
border-radius: 50%;
}

.social a {
background-color: #c19fe7;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
height: 50px;
width: 50px;
cursor: pointer;
}

.social a:hover{
transform:scale(1.3);
transition:0.5s;
}

@media(max-width: 580px) {
  .portifolio{
    font-size: 40px;
  }

  .portifolio span{
  font-size: 20px;
  }

  .menu-toggle{ height: 20px;
  display: flex;
  gap: 20px;
  position: sticky;
  }
  .caixa-principal {
    background-size:300px;
    background-repeat: no-repeat;
    height: 61vh;
    width: 100%;
    align-items:center;
    background-position: 50%;
  }

  li{
    font-size: 15px;
  }

  h1{
    font-size: 25px;
  }
  section figure .meu-nome h1{
    font-size: 20px;
  }
  section figure .meu-nome h3{
    font-size: 15px;
  }
section{
  padding: 30px 20px;
  height: 87vh;
}
  section figure p{
    font-size: 10px;
    text-align: justify;
  }
  section figure h2{
    font-size: 25px;
  }

  section figure img{
    height: 125px;
  }

  .projeto h2{
    font-size: 40px;
  }
  .card{
    height: 250px;
    width: 180px;
    border-radius: 20px;
    padding: 10px 1px;
    margin: 10px;
  }
  .card h5{
    font-size: 15px;
    margin-top: 10px;
  }

  .card p{
    font-size: 10px;
    margin-top: 10px;
    margin-bottom:15px;
  }
  #txt-pet {
    padding-bottom:18px;
  }

  .card img{
    height: 50px;
  }
  footer{
    padding-top:20px ;
    padding-bottom: 30px;
    height: 20vh;

  }
  .card-projetos{
   margin-top: 10px;
   height: 50vh;
  }
}
